* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1020px) {
  .container {
    padding: 0 160px;
  }
}

html {
  overflow-x: hidden;
}

.swiper {
  width: 100%;
  padding-bottom: 40px;
}
.swiper-button-next-custom {
  padding-left: 32px;
  cursor: pointer;
}
.swiper-button-prev-custom {
  cursor: pointer;
}
.swiper-slide {
  width: 343px;
  height: 390px;
}
.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ff4800;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f9fa;
}

.main {
  padding: 60px 0;
}
@media (min-width: 1020px) {
  .main {
    padding: 100px 0;
  }
}

.app {
  overflow-x: hidden;
  width: 100vw;
}
.app__section {
  padding-bottom: 60px;
}
@media (min-width: 1020px) {
  .app__section {
    padding-bottom: 100px;
  }
}

.header {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
@media (min-width: 1020px) {
  .header {
    display: block;
    height: 800px;
    background-color: #fff;
  }
}
.header__gradient {
  display: none;
}
@media (min-width: 1020px) {
  .header__gradient {
    display: block;
    position: absolute;
    width: 156px;
    height: 156px;
    left: 55px;
    bottom: -24px;
    border-radius: 50%;
    background: rgba(255, 72, 0, 0.3);
    box-shadow: 0 0 160px 90px rgba(255, 72, 0, 0.2), 1px 1px 83px 7px rgba(255, 255, 255, 0.6) inset, 1px 1px 83px 1px rgba(255, 255, 255, 0.7) inset, 1px 1px 83px 7px rgba(255, 72, 0, 0.4) inset;
    z-index: 0;
  }
}
.header__carusel {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 32px;
  position: relative;
}
@media (min-width: 1020px) {
  .header__carusel {
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 60px;
    gap: 10px;
    z-index: 0;
  }
}
.header__carusel-blur {
  display: none;
}
@media (min-width: 1020px) {
  .header__carusel-blur {
    display: block;
    position: absolute;
    height: 120px;
    width: 100%;
    top: -32px;
    z-index: 1;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
}
.header__carusel-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  animation-name: moveLeft;
  animation-duration: 17s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}
@media (min-width: 1020px) {
  .header__carusel-row {
    flex-direction: column;
    gap: 10px;
    animation-duration: 30s;
  }
}
.header__carusel-row--revers {
  flex-direction: row;
  transform: translateX(-100%);
  animation-name: moveRigth;
  animation-duration: 17s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}
@media (min-width: 1020px) {
  .header__carusel-row--revers {
    transform: translateY(-100%);
    flex-direction: column;
    animation-duration: 30s;
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (min-width: 1020px) {
  @keyframes moveLeft {
    0% {
      transform: translateY(-2%);
    }
    100% {
      transform: translateY(-63%);
    }
  }
}
@keyframes moveRigth {
  0% {
    transform: translateX(100);
  }
  100% {
    transform: translateX(0);
  }
}
@media (min-width: 1020px) {
  @keyframes moveRigth {
    0% {
      transform: translateY(-62%);
    }
    100% {
      transform: translateY(-2%);
    }
  }
}
.header__carusel-item {
  width: 123px;
  height: 169px;
  display: flex;
  flex-direction: column;
  background: #e9ecef;
  border-radius: 16px;
}
@media (min-width: 1020px) {
  .header__carusel-item {
    width: 208px;
    height: 286px;
    background: #e9ecef;
  }
}
.header__carusel-img {
  width: 119px;
  height: 124px;
  padding: 2px 2px 5px 2px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1020px) {
  .header__carusel-img {
    width: 200px;
    height: 211px;
    padding: 4px 4px 8px 4px;
  }
}
.header__carusel-text {
  font-size: 11px;
  font-weight: 500;
  line-height: 13.41px;
  padding: 0 0 3px 4px;
  white-space: nowrap;
}
@media (min-width: 1020px) {
  .header__carusel-text {
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 8px 8px;
  }
}
.header__carusel-name {
  font-size: 11px;
  font-weight: 600;
  line-height: 13.41px;
  white-space: nowrap;
  padding-left: 4px;
}
@media (min-width: 1020px) {
  .header__carusel-name {
    font-size: 14px;
    line-height: 24px;
    padding-left: 8px;
  }
}
.header__carusel-name--small {
  font-size: 9px;
}
@media (min-width: 1020px) {
  .header__carusel-name--small {
    font-size: 14px;
  }
}
.header__top {
  padding: 52px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (min-width: 1020px) {
  .header__top {
    padding: 0;
    height: 132px;
    margin-bottom: 60px;
  }
}
.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-image {
  width: 42px;
  height: 37px;
  margin-right: 8px;
}
@media (min-width: 1020px) {
  .header__logo-image {
    width: 64px;
    height: 56px;
    margin-right: 16px;
  }
}
.header__logo-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: center;
  position: relative;
  color: #212529;
}
@media (min-width: 1020px) {
  .header__logo-name {
    font-size: 24px;
  }
}
.header__portfolio {
  text-decoration: none;
}
.header__portfolio-content {
  display: flex;
  border: 1px solid rgb(33, 37, 41);
  height: 44px;
  border-radius: 16px;
  padding: 0 16px;
  align-items: center;
  position: relative;
  background: #f8f9fa;
  color: #212529;
}
@media (min-width: 1020px) {
  .header__portfolio-content {
    border: none;
    height: 52px;
    padding: 0 32px;
  }
}
.header__portfolio-logo {
  width: 22px;
  height: 20px;
}
@media (min-width: 1020px) {
  .header__portfolio-logo {
    width: 34px;
    height: 32px;
  }
}
.header__portfolio-name {
  padding: 0 6px 0 4px;
  color: #212529;
  font-size: 14px;
}
@media (min-width: 1020px) {
  .header__portfolio-name {
    padding: 0 16px 0 24px;
    font-size: 18px;
  }
}
.header__portfolio-arrow {
  width: 18px;
  height: 18px;
}
@media (min-width: 1020px) {
  .header__portfolio-arrow {
    width: 24px;
    height: 24px;
  }
}
.header__content {
  position: relative;
}
@media (min-width: 1020px) {
  .header__content {
    width: 454px;
  }
}
.header__show {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  margin-bottom: 18px;
  color: #212529;
}
@media (min-width: 1020px) {
  .header__show {
    font-size: 32px;
    margin-bottom: 24px;
  }
}
.header__title {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  color: #ff4800;
}
@media (min-width: 1020px) {
  .header__title {
    font-size: 64px;
    margin-bottom: 24px;
  }
}
.header__description {
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.76px;
  color: #495057;
  margin-bottom: 20px;
}
@media (min-width: 1020px) {
  .header__description {
    font-size: 24px;
    line-height: 31px;
    width: 544px;
  }
}
.header__link-app {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  text-decoration: none;
  height: 57px;
}
@media (min-width: 1020px) {
  .header__link-app {
    width: 253px;
    height: 70px;
  }
}
.header__link-content {
  display: flex;
  padding: 8px 0;
  color: #ffffff;
}
.header__link-logo {
  margin-right: 14px;
}
.header__link-text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  position: relative;
}
@media (min-width: 1020px) {
  .header__link-text {
    font-size: 16px;
  }
}
.header__link-text--biger {
  font-size: 16px;
  font-weight: 600;
}
@media (min-width: 1020px) {
  .header__link-text--biger {
    font-size: 18px;
  }
}

.step {
  padding-bottom: 0;
}
@media (min-width: 1020px) {
  .step {
    padding-bottom: 100px;
  }
}
.step__container {
  padding: 0;
}
@media (min-width: 1020px) {
  .step__container {
    padding: 0 160px;
  }
}
.step__item {
  margin-bottom: 58px;
}
@media (min-width: 1020px) {
  .step__item {
    height: 744px;
    background-image: url("../image/ellipse/ellips-phone-biger.svg");
    background-repeat: no-repeat;
    background-position: right top;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .step__item--noellips {
    height: 485px;
    background-image: none;
    flex-direction: row-reverse;
  }
}
@media (min-width: 1020px) {
  .step__item--gap {
    margin-bottom: 46px;
  }
}
@media (min-width: 1020px) {
  .step__info--withImage {
    padding-top: 65px;
  }
}
@media (min-width: 1020px) {
  .step__info {
    width: 544px;
    height: -moz-max-content;
    height: max-content;
  }
}
.step__number {
  display: flex;
  align-items: flex-end;
  padding: 0 12px;
  margin-bottom: 20px;
}
@media (min-width: 1020px) {
  .step__number {
    padding: 0;
    margin: 0;
  }
}
.step__number-img {
  margin-right: 12px;
}
@media (min-width: 1020px) {
  .step__number-img {
    margin-right: 15px;
    width: 93px;
    height: 66px;
  }
}
.step__number-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #ced4da;
  padding: 0 12px;
}
@media (min-width: 1020px) {
  .step__number-text {
    font-size: 32px;
    line-height: 38.4px;
  }
}
.step__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #ff4800;
  padding: 0 16px 16px 16px;
}
@media (min-width: 1020px) {
  .step__title {
    padding: 36px 0 24px 0;
    font-size: 36px;
    line-height: 43.2px;
    margin: 0;
  }
}
.step__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #212529;
  margin: 0 16px;
}
@media (min-width: 1020px) {
  .step__text {
    font-size: 18px;
    line-height: 25.2px;
    margin-left: 0;
  }
}
.step__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../image/carusel/Elements.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 644px;
}
.step__image--nobackground {
  background-image: none;
  height: 460px;
}
@media (min-width: 1020px) {
  .step__image--nobackground {
    padding-left: 147px;
  }
}
@media (min-width: 1020px) {
  .step__image {
    background-image: none;
    justify-self: center;
  }
}
.step__image-wrapper {
  position: relative;
  width: 201px;
  height: 409px;
}
@media (min-width: 1020px) {
  .step__image-wrapper {
    width: 249px;
    height: 504px;
  }
}
.step__image-phone {
  position: absolute;
  z-index: 1;
  width: 201px;
  height: 409px;
}
@media (min-width: 1020px) {
  .step__image-phone {
    width: 249px;
    height: 504px;
  }
  .step__image-phone--position {
    position: absolute;
    top: 5px;
    right: 205px;
  }
}
.step__video {
  position: absolute;
  height: 395px;
  z-index: 2;
  margin: 0 0 0 4.5px;
  top: 7px;
  left: 5px;
  border-radius: 25px;
  pointer-events: none;
}
@media (min-width: 1020px) {
  .step__video {
    margin: 0 0 0 7.7px;
    width: 223px;
    height: 483px;
    top: 14px;
    left: -199px;
  }
}
@media (min-width: 1020px) {
  .step__video--anomal {
    top: 9px;
    left: 5px;
  }
}

.testimonials {
  background-color: #fff;
  border-radius: 44px;
}
@media (min-width: 1020px) {
  .testimonials {
    height: 700px;
  }
}
@media (min-width: 1020px) {
  .testimonials__mobile-swiper {
    display: none;
  }
}
.testimonials__desktop-swiper {
  display: none;
}
@media (min-width: 1020px) {
  .testimonials__desktop-swiper {
    display: block;
  }
}
.testimonials__navigation {
  display: none;
}
@media (min-width: 1020px) {
  .testimonials__navigation {
    display: block;
    display: flex;
    justify-content: center;
    padding: 32px 0 0 0;
  }
}
@media (min-width: 1020px) {
  .testimonials__mobale {
    display: none !important;
  }
}
.testimonials__desktop {
  display: none !important;
}
@media (min-width: 1020px) {
  .testimonials__desktop {
    display: block !important;
  }
}
.testimonials__pagination {
  position: relative !important;
  display: block;
  padding-top: 32px !important;
}
@media (min-width: 1020px) {
  .testimonials__pagination {
    display: none;
  }
}
.testimonials__title {
  padding: 48px 0 32px 0;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}
@media (min-width: 1020px) {
  .testimonials__title {
    padding: 72px 0 50px 0;
    font-size: 36px;
    line-height: 43.2px;
  }
}
.testimonials__content :first-child {
  margin-bottom: 8px;
}
@media (min-width: 1020px) {
  .testimonials__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}
.testimonials__item {
  padding: 24px 16px;
  background: rgb(248, 249, 250);
  border-radius: 24px;
}
@media (min-width: 1020px) {
  .testimonials__item {
    width: 524px;
  }
}
.testimonials__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  color: #212529;
  padding-bottom: 16px;
}
@media (min-width: 1020px) {
  .testimonials__text {
    font-size: 18px;
    line-height: 25.2px;
  }
}
.testimonials__info {
  display: flex;
  justify-content: space-between;
}
.testimonials__user {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  color: #000000;
}

.bring {
  margin-bottom: 20px;
  padding: 0;
}
@media (min-width: 1020px) {
  .bring {
    background-image: url("../image/ellipse/ellips-phone-big.svg");
    background-repeat: no-repeat;
    background-size: 671px 663px;
    background-position: bottom center;
    margin-bottom: 100px;
    padding-bottom: 100px;
  }
}
.bring__container {
  padding: 0;
}
@media (min-width: 1020px) {
  .bring__container {
    padding: 0 160px;
  }
}
.bring__content {
  margin-bottom: 18px;
}
@media (min-width: 1020px) {
  .bring__content {
    margin-bottom: 60px;
  }
}
.bring__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 39.6px;
  text-align: center;
  padding-top: 60px;
}
@media (min-width: 1020px) {
  .bring__title {
    font-size: 36px;
    margin-bottom: 24px;
    padding-top: 100px;
  }
}
.bring__title--red {
  color: #ff4800;
}
@media (min-width: 1020px) {
  .bring__title--red {
    display: block;
  }
}
.bring__text {
  display: none;
}
@media (min-width: 1020px) {
  .bring__text {
    display: block;
    width: 736px;
    font-size: 24px;
    text-align: center;
    margin: auto;
  }
}
.bring__image {
  height: 544px;
  background-image: url("../image/ellipse/ellips-phone.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 1020px) {
  .bring__image {
    background-image: none;
  }
}
.bring__image--desktop {
  display: none;
}
@media (min-width: 1020px) {
  .bring__image--desktop {
    display: flex;
  }
}
.bring__image--mobile {
  display: flex;
}
@media (min-width: 1020px) {
  .bring__image--mobile {
    display: none;
  }
}
.bring__image-phones {
  width: 100%;
  height: 256px;
  padding: 0 16px;
  margin-top: 158px;
}
@media (min-width: 1020px) {
  .bring__image-phones {
    width: 768px;
    height: 500px;
    margin-left: 50px;
    margin-top: 100px;
  }
}

.multiple {
  text-align: center;
}
.multiple__container {
  padding: 0;
}
@media (min-width: 1020px) {
  .multiple__container {
    padding: 0 160px;
  }
}
.multiple__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.multiple__title {
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: #212529;
}
@media (min-width: 1020px) {
  .multiple__title {
    font-size: 36px;
    line-height: 43.2px;
  }
}
.multiple__text {
  font-size: 18px;
  margin-bottom: 32px;
  color: #212529;
  line-height: 23.76px;
  width: 343px;
}
@media (min-width: 1020px) {
  .multiple__text {
    font-size: 24px;
    line-height: 31.68px;
    width: 736px;
    margin: auto;
    margin-bottom: 50px;
  }
}
.multiple__image {
  width: 100%;
  border-radius: 16px;
}
@media (min-width: 1020px) {
  .multiple__image {
    width: calc(100% - 320px);
    height: 520px;
  }
}

.subscribe {
  text-align: center;
  display: flex;
  justify-content: center;
}
@media (min-width: 1020px) {
  .subscribe {
    background-color: none;
  }
}
.subscribe__desktop {
  display: none;
}
@media (min-width: 1020px) {
  .subscribe__desktop {
    display: block;
    width: calc(100% - 320px);
    border: none !important;
    border-radius: 24px !important;
  }
}
.subscribe__mobile {
  display: block;
  border-radius: 24px !important;
}
@media (min-width: 1020px) {
  .subscribe__mobile {
    display: none;
  }
}
@media (min-width: 1020px) {
  .subscribe__new-line {
    display: none;
  }
}
.subscribe__container {
  padding: 0;
}
@media (min-width: 1020px) {
  .subscribe__container {
    padding: 0 160px;
  }
}
.subscribe__content {
  background-color: rgb(255, 72, 0);
  border-radius: 24px;
}
@media (min-width: 1020px) {
  .subscribe__content {
    height: 376px;
  }
}
.subscribe__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  color: #fff;
  padding: 48px 0 18px 0;
}
.subscribe__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.76px;
  text-align: center;
  color: #fff;
}
@media (min-width: 1020px) {
  .subscribe__text {
    padding-bottom: 26px;
  }
}
.subscribe__form {
  padding: 12px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 48px;
}
@media (min-width: 1020px) {
  .subscribe__form {
    height: 77px;
    width: 509px;
    background-color: #fff;
    flex-direction: row;
    justify-content: center;
    border-radius: 14px;
    padding-bottom: 0;
    margin: auto;
  }
}
.subscribe__input {
  width: 319px;
  height: 48px;
  border-radius: 8px;
  margin-bottom: 12px;
  padding-left: 16px;
  outline: none;
  border: none;
}
@media (min-width: 1020px) {
  .subscribe__input {
    width: 509px;
    height: 48px;
    border: 1px solid #b0b0b0;
    margin-bottom: 0;
    padding-left: 0;
    margin-right: 12px;
  }
}
.subscribe__input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.subscribe__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media (min-width: 1020px) {
  .subscribe__input::-moz-placeholder {
    padding-left: 28px;
  }
  .subscribe__input::placeholder {
    padding-left: 28px;
  }
}
.subscribe__button {
  width: 169px;
  height: 52px;
  border-radius: 8px;
  outline: none;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  color: #212529;
}
@media (min-width: 1020px) {
  .subscribe__button {
    background: #ff4800;
    width: 191px;
    height: 53px;
    color: #ffffff;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1020px) {
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 54px;
  }
}
.footer__logo {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #ff4800;
  margin-bottom: 24px;
}
@media (min-width: 1020px) {
  .footer__logo {
    font-size: 32px;
    margin-bottom: 0;
  }
}
.footer__download {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
@media (min-width: 1020px) {
  .footer__download {
    order: 3;
    margin-bottom: 0;
  }
}
.footer__download-title {
  margin-bottom: 24px;
  font-family: "Source Sans Pro", sans-serif;
  color: #212529;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
@media (min-width: 1020px) {
  .footer__download-title {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
  }
}
.footer__download-link {
  width: 211px;
  height: 56px;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
@media (min-width: 1020px) {
  .footer__download-link {
    width: 245px;
    height: 61px;
  }
}
.footer__download-icon {
  margin-right: 8px;
}
.footer__download-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}
.footer__download-text--bigger {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: center;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}
@media (min-width: 1020px) {
  .footer__contact {
    padding-left: 60px;
  }
}
.footer__contact-link--gmail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #000000;
  border-radius: 6px;
}
.footer__contact-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.63px;
  margin-bottom: 20px;
}
@media (min-width: 1020px) {
  .footer__contact-title {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.footer__contact-icons {
  width: 224px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1020px) {
  .footer__contact-icons {
    width: 256px;
  }
}
.footer__page {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.footer__page-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 293px;
}
@media (min-width: 1020px) {
  .footer__page-list {
    width: 361px;
  }
}
.footer__page-link {
  color: #212529;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}
@media (min-width: 1020px) {
  .footer__page-link {
    font-size: 18px;
  }
}
.footer__line {
  border: 1px solid rgb(206, 212, 218);
  margin-bottom: 16px;
}
@media (min-width: 1020px) {
  .footer__line {
    margin-bottom: 24px;
  }
}
.footer__reserved {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
  color: #495057;
  margin-bottom: 24px;
}
@media (min-width: 1020px) {
  .footer__reserved {
    font-size: 14px;
    margin-bottom: 39px;
  }
}

.policy {
  background: #f8f9fa;
}
.policy__header {
  height: -moz-max-content;
  height: max-content;
  background: #f8f9fa;
}
.policy__link {
  text-decoration: none;
  color: #212529;
}
.policy__main {
  padding-bottom: 40px;
}
@media (min-width: 1020px) {
  .policy__main {
    margin-bottom: 62px;
  }
}
.policy__item {
  padding-bottom: 24px;
}
@media (min-width: 1020px) {
  .policy__item {
    padding-bottom: 32px;
  }
}
.policy__title {
  padding-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.12px;
}
@media (min-width: 1020px) {
  .policy__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 23.76px;
  }
}
@media (min-width: 1020px) {
  .policy__container {
    max-width: 640px;
    margin: 0 auto;
  }
}
.policy__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: #000000;
}
@media (min-width: 1020px) {
  .policy__text {
    font-size: 16px;
    line-height: 22.4px;
    text-align: left;
  }
}
.policy__text--section {
  margin-bottom: 14px;
}
@media (min-width: 1020px) {
  .policy__text--section {
    margin-bottom: 20px;
  }
}
.policy__main-title {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
}
@media (min-width: 1020px) {
  .policy__main-title {
    font-size: 48px;
    margin-bottom: 24px;
  }
}
.policy__update {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #495057;
  margin-bottom: 32px;
}
@media (min-width: 1020px) {
  .policy__update {
    font-size: 24px;
    margin-bottom: 62px;
  }
}

.contact {
  position: relative;
  overflow: hidden;
  width: 100vw;
  background: #f8f9fa;
}
.contact__header {
  background: #f8f9fa;
  position: relative;
}
@media (min-width: 1020px) {
  .contact__header {
    height: 121px;
    margin-bottom: 0;
  }
}
.contact__header--content {
  position: relative;
  z-index: 2;
}
@media (min-width: 1020px) {
  .contact__br {
    display: none;
  }
}
.contact__wrapper {
  margin-bottom: 28px;
}
@media (min-width: 1020px) {
  .contact__wrapper {
    margin-top: 138px;
  }
}
.contact__content {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}
@media (min-width: 1020px) {
  .contact__content {
    display: flex;
    margin-bottom: 70px;
  }
}
.contact__title {
  font-size: 40px;
  font-weight: 500;
  line-height: 49.6px;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}
@media (min-width: 1020px) {
  .contact__title {
    font-size: 64px;
    margin-bottom: 16px;
  }
}
.contact__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.76px;
  text-align: left;
  margin-bottom: 12px;
}
@media (min-width: 1020px) {
  .contact__text {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.contact__button {
  width: 223px;
  height: 53px;
  border-radius: 10px;
  background: #ff4800;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.12px;
  outline: none;
  border: none;
  color: #ffffff;
}
.contact__img-mobile {
  width: 351px;
  height: 310px;
  margin-left: 31px;
}
@media (min-width: 1020px) {
  .contact__img-mobile {
    display: none;
  }
}
@media (min-width: 1020px) {
  .contact__img-think {
    position: absolute;
    top: 172px;
    right: 182px;
  }
}
.contact__image-wrapper {
  display: none;
}
@media (min-width: 1020px) {
  .contact__image-wrapper {
    position: relative;
    margin-left: 63px;
    display: block;
  }
}
.contact__footer--position {
  position: relative;
  z-index: 1;
}
.contact__circle {
  position: absolute;
  width: 601px;
  height: 601px;
  top: 86px;
  right: -340px;
  border-radius: 50%;
  background: #feae8e;
  z-index: 1;
  overflow: hidden;
}
@media (min-width: 1020px) {
  .contact__circle {
    width: 1455px;
    height: 1455px;
    top: -198px;
    right: -671px;
  }
}/*# sourceMappingURL=main.css.map */